<div class="profile_container">
    <div class="wraps">
      <div class="profile_img_wrapper">
        <div class="profile_img">
          <span></span>
        </div>
      </div>
      <div class="profile_details">
        <h1 class="username">Ionuț Duță</h1>

        <div class="user_info">
          <span class="info">Tehnician Maseur</span>
          <span class="info">Masaj Terapeutic</span>
          <span class="info">Masaj Somatic</span>
          <span class="info">Drenaj Limfatic</span>
          <span class="info">Masaj Reflexogen</span>
          <span class="info">Masaj Anticelulitic</span>
        </div>

        <div class="user_links">
          Fiind kinetoterapeut de 4 ani, dețin cunoștințele anatomice necesare pentru cele mai bune rezultate ale
          masajului și recuperării pacienților. Tot ce fac, fac cu placere și îmi dau tot interesul pentru acel lucru.

        </div>
      </div>
    </div>
  </div>