<div class="info-page h-100 row justify-content-center align-items-center">
    <div class="info-item col-sm-12 col-md-4 row justify-content-center flex-nowrap">
      <i class="icon far fa-clock col "></i>
      <div class="info-details col row justify-content-center">
        <h5 class="info-title">
          Program
        </h5>
        <p class="info-subtitle">
          Luni - Duminica
        </p>
        <p class="info-subtitle">
          8:00 - 23:00
        </p>
      </div>
    </div>

    <div class="info-item col-sm-12 col-md-4 row justify-content-center flex-nowrap">
      <i class="icon fas fa-map-marker-alt col"></i>
      <div class="info-details col row justify-content-center">
        <h5 class="info-title">
          Adresa
        </h5>
        <p class="info-subtitle">
          La locatia clientului
        </p>
        <p class="info-subtitle">
          Bucuresti, toate sectoarele
        </p>
        <p class="info-subtitle"></p>
      </div>
    </div>

    <!-- <div class="info-item col-sm-12 col-md-3 row justify-content-center flex-nowrap">
      <i class="icon col fas fa-mobile-alt"></i>
      <div class="info-details col row justify-content-center">
        <h5 class="info-title">
          Telefon
        </h5>
        <p class="info-subtitle">
          07236445484
        </p>
        <p class="info-subtitle"></p>
      </div>
    </div> -->

    <div class="info-item col-sm-12 col-md-4 row justify-content-center flex-nowrap">
      <i class="icon fas fa-money-bill-wave-alt col "></i>
      <div class="info-details col row justify-content-center">
        <h5 class="info-title">
          Plata
        </h5>
        <p class="info-subtitle">
          Cash / Transfer bancar
        </p>
      </div>
    </div>
  </div>