<p-card>
    <ng-template pTemplate="title">
        Programare {{service?.valueChanges | async}}
    </ng-template>
    <ng-template pTemplate="subtitle">
        Completeaza campurile necesare programarii
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="form"
              (ngSubmit)="onSubmit()">
            <div class="row p-fluid">
                <div class="col-md-6 col-sm-12 mt-4">
                    <span class="p-float-label">
                        <p-dropdown [options]="services"
                                    formControlName="service"
                                    placeholder="Alege un serviciu"
                                    [ngClass]="{'ng-dirty': (service?.invalid && submitted) || (service?.dirty && service?.invalid)}"
                                    [group]="true"></p-dropdown>
                        <label for="appointmentDate">Serviciul ales</label>
                    </span>
                    <small class="p-error"
                           *ngIf="(service?.invalid && submitted )|| (service?.dirty && service?.invalid)">Serviciul
                        este obligatoriu</small>
                </div>
                <div class="col-md-6 col-sm-12 mt-4">
                    <span class="p-float-label">
                        <p-calendar id="appointmentDate"
                                    formControlName="date"
                                    dateFormat="dd-mm-yy"
                                    inputId="touchui"
                                    [showIcon]="true"
                                    [ngClass]="{'ng-dirty': (date?.invalid && submitted) || (date?.dirty && date?.invalid)}"
                                    [minDate]="minDate"
                                    [maxDate]="maxDate"></p-calendar>

                        <label for="appointmentDate">Data programare</label>
                    </span>
                    <small class="p-error"
                           *ngIf="(date?.invalid && submitted )|| (date?.dirty && date?.invalid)">Data este
                        obligatorie</small>
                </div>

                <div class="col-md-6 col-sm-12 mt-4">
                    <span class="p-float-label">
                        <p-dropdown [options]="hours"
                                    formControlName="hour"
                                    emptyMessage="Nu este niciun interval disponibil in aceasta zi!"
                                    [ngClass]="{'ng-dirty': (hour?.invalid && submitted) || (hour?.dirty && hour?.invalid)}"></p-dropdown>
                        <label for="appointmentHour">Ora programare</label>
                    </span>
                    <small class="p-error"
                           *ngIf="(hour?.invalid && submitted )|| (hour?.dirty && hour?.invalid)">Ora este
                        obligatorie</small>
                </div>

                <div class="col-md-6 col-sm-12 mt-4">
                    <span class="p-float-label">
                        <input id="lastName"
                               type="text"
                               required
                               pInputText
                               formControlName="lastName"
                               [ngClass]="{'ng-dirty': (lastName?.invalid && submitted) || (lastName?.dirty && lastName?.invalid)}">
                        <label for="lastName">Nume</label>
                    </span>
                    <small class="p-error"
                           *ngIf="(lastName?.invalid && submitted )|| (lastName?.dirty && lastName?.invalid)">Numele
                        este obligatoriu</small>
                </div>

                <div class="col-md-6 col-sm-12 mt-4">
                    <span class="p-float-label">
                        <input id="firstName"
                               type="text"
                               pInputText
                               formControlName="firstName"
                               [ngClass]="{'ng-dirty': (firstName?.invalid && submitted) || (firstName?.dirty && firstName?.invalid)}">
                        <label for="firstName">Prenume</label>
                    </span>
                    <small *ngIf="(firstName?.invalid && submitted) || (firstName?.dirty && firstName?.invalid)"
                           class="p-error">Prenumele este obligatoriu</small>
                </div>


                <div class="col-md-6 col-sm-12 mt-4"><span class="p-float-label">
                        <input id="phone"
                               type="text"
                               pInputText
                               formControlName="phone"
                               [ngClass]="{'ng-dirty': (phone?.invalid && submitted) || (phone?.dirty && phone?.invalid)}">
                        <label for="phone">Telefon</label>
                    </span>
                    <small class="p-error"
                           *ngIf="(phone?.invalid && submitted )|| (phone?.dirty && phone?.invalid)">Telefonul este
                        obligatoriu</small>
                </div>

                <div class="col-md-6 col-sm-12 mt-4"><span class="p-float-label">
                        <input id="email"
                               type="text"
                               pInputText
                               formControlName="email"
                               [ngClass]="{'ng-dirty': (email?.invalid && submitted) || (email?.dirty && email?.invalid)}">
                        <label for="email">Email</label>

                    </span>
                </div>

                <div class="col-md-6 col-sm-12 mt-4"><span class="p-float-label">
                        <input id="address"
                               type="text"
                               pInputText
                               formControlName="address"
                               [ngClass]="{'ng-dirty': (address?.invalid && submitted) || (address?.dirty && address?.invalid)}">
                        <label for="address">Adresa</label>
                    </span>
                    <small class="p-error"
                           *ngIf="(address?.invalid && submitted )|| (address?.dirty && address?.invalid)">Adresa este
                        obligatorie</small>
                </div>

                <div class="col-md-6 col-sm-12 mt-4"><span class="p-float-label">
                        <textarea inputId="textarea"
                                  rows="3"
                                  style="resize: none;"
                                  cols="20"
                                  formControlName="observations"
                                  pInputTextarea
                                  [ngClass]="{'ng-dirty': (observations?.invalid && submitted) || (observations?.dirty && observations?.invalid)}"></textarea>
                        <label for="observations">Observatii</label>
                    </span>
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-end">
                    <p-button label="Programeaza-te"
                              type="submit"
                              icon="pi pi-angle-right"
                              iconPos="right"></p-button>
                </div>

            </div>
        </form>
    </ng-template>
</p-card>