.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

  .card {
    display: flex;
    padding-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem 0;
    border-radius: 15px;
    min-height: 350px;
    width: 500px;
  }
}
