@import '../../../../../../styles/components/variables';

h3 {
  position: relative;
  color: $primaryColor;

  &::before {
    content: "";
    border-bottom: 1px solid $primaryColor;
    position: absolute;
    width: 100%;
    top: calc(100% + .5rem);
  }
}
