@import '../../../../styles/components/variables';
:host ::ng-deep {

  table {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .p-datatable {
    border: 1px solid #ccc;

    .p-datatable-wrapper {
      overflow: hidden;

      .p-datatable-tbody {
        overflow: auto;
      }
    }
  }
  p-columnfilterformelement {
    width: 100% !important;
  }

  .p-datatable-header {
    .p-button-outlined {
        color: $branded-black;

        &:hover {
            color: $branded-black;
        }
    }
    .p-inputtext:focus {
        outline: 0 none;
    outline-offset: 0;
    box-shadow:unset;
    border-color: $branded-black;
    }
  }
}
