<p-table #dt
         [value]="data"
         [paginator]="true"
         [columns]="grid"
         [loading]="isLoading"
         [rows]="pagination.limit"
         responsiveLayout="scroll"
         [rowsPerPageOptions]="[10,25,50]"
         [(first)]="first"
         [scrollable]="true"
         [lazy]="true"
         [scrollHeight]="scrollHeight"
         [totalRecords]="pagination.total"
         (onLazyLoad)="onLazyLoad($event)">
    <ng-template *ngIf="filter" pTemplate="caption">
        <div class="d-flex justify-content-between">
            <button pButton
                    label="Sterge filtrele"
                    class="p-button-outlined"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText
                       type="text"
                       (input)="filterGlobal($event)"
                       placeholder="Cauta" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header"
                 let-columns>
        <tr>
            <th *ngFor="let col of columns">{{col?.text}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-rowData
                 let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">{{rowData[col?.dataKey]}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length" class="d-flex justify-content-center align-items-center" style="font-weight: 500;">
                {{emptyMessage}}
            </td>
        </tr>
    </ng-template>
</p-table>