        <div class="col-12"
         *ngIf="details.benefits"
         class="heading">
        <div class="title">Beneficii</div>
        <ul class="sub-heading">
            <li class="col-6" *ngFor="let benefit of details.benefits">
                 {{benefit}}
            </li>
        </ul>
    </div>

        
    <div class="col-12"
    *ngIf="details.benefits"
    class="heading">
   <div class="title">Recomandari</div>
   <ul class="sub-heading">
       <li class="col-12" >
        Masajul este o terapie care vă ajută să scăpați de: stres, oboseală, dureri musculare, senzația de picioare grele, celulită, vergeturi și aspect inestetic al pielii.
       </li>
   </ul>
</div>

    
<div class="col-12"
*ngIf="details.benefits"
class="heading">
<div class="title">Specificatii</div>
<ul class="sub-heading">
   <li class="col-12" >
    Pentru comfortul psihic și fizic al clientului, masajul se efectuează la domiciliul dumneavoastră din București sau Ilfov.
    Se vine cu masă de masaj, uleiuri speciale ( diferite arome, pentru diferite terapii), ventuză de silicon și băț de bambus (pentru anticelulitic).
    
   </li>
</ul>
</div>

<div class="col-12"
*ngIf="details.benefits"
class="heading">
<div class="title">Instrumente</div>
<ul class="sub-heading">
   <li class="col-12" >
    Se vine cu masă de masaj, uleiuri speciale ( diferite arome, pentru diferite terapii), ventuză de silicon și băț de bambus (pentru anticelulitic).
   </li>
</ul>
</div>

<div class="col-12"
*ngIf="details.benefits"
class="heading">
<div class="title">Bonus</div>
<ul class="sub-heading">
   <li class="col-12" >
    Fiecare client va beneficia la prima ședință de-o evaluare corporală ( în funcție de ce doriți dumneavoastră să obțineți prin masaj, eu vă ofer terapia și sfaturile necesare).
    
   </li>
</ul>
</div>





    
