.sub-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;

  li,
  .txt {

    letter-spacing: -1px;
    color: #a33c0f ;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 2rem;
  }
}




:host ::ng-deep {
  .p-tabview {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; 
   }

  .p-tabview-panels {
    background-color: #fff7e6;
  }

  .p-tabview-nav {
    border-color: #df3859 !important;
    background-color: #df3859 !important;
  }

  .p-tabview-nav {
    padding: 0 10px;

    li:not(:first-child) {
      margin-left: 5px;
    }
    .p-tabview-nav-link {
      color: #fff !important;
      border-color: #df3859 !important;
      font-size: 1.2rem;
      font-weight: 400 !important;
      background-color: #df3859 !important;
    }

    .p-highlight {
      .p-tabview-nav-link {
        border-color: #fff !important;
        padding-bottom: 15px !important;
      }
      
    }

    .p-tabview-nav-link:focus {
      box-shadow: unset !important;
    }
  }



}

.benefits {
  font-size: 1.3rem;
  color: #a33c0f;
  border-bottom: 1px solid #df3859;
}

.product-container {
  min-height: 450px;
  padding: 50px 25px;
}

.txt {
  color: #a33c0f ;
  text-align: left;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 2rem;
}