<header>
  <div class="header header-absolute">
    <div class="container-fluid p-0">
      <nav class="navbar sticky-top custom navbar-expand-md navbar-light ">
        <div class="container-fluid navbar-container p-0">
          <a class="navbar-brand"
             routerLink="/">Terapie și Masaj<sub class="subscript">by Ionuț Duță</sub></a>
          <button class="navbar-toggler"
                  type="button"
                  pButton
                  icon="fas fa-bars"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
          </button>
          <div class="collapse navbar-collapse justify-content-end"
               id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active"
                   aria-current="page"
                   routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   (click)="scroll('services')">Servicii</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   (click)="goTo('tarife')">Preturi</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link"
                   routerLink="/galerie">Galerie</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/despre-mine">Despre mine</a>
              </li>
              <li class="d-flex justify-content-center align-items-center account-button">
                <button pButton
                        pRipple
                        icon="far fa-user-circle"
                        class=" p-button-rounded p-button-text"
                        (click)="handleMyAccountClick(op, $event)"></button>

                <p-overlayPanel #op
                                styleClass="account">
                  <ng-template pTemplate>
                    <ul class="my-account-list">
                      <li> <a class="nav-link"
                           routerLink="/my-account"
                           (click)="op.hide()">Contul meu</a></li>
                      <li> <a class="nav-link"
                           routerLink="/my-account"
                           (click)="op.hide()">Programarile mele</a></li>
                      <li> <a class="nav-link"
                           (click)="onSignOut(op)">Delogare</a></li>
                    </ul>
                  </ng-template>
                </p-overlayPanel>
              </li>
            </ul>
            <form class="d-flex social-media">
              <button pButton
                      pRipple
                      type="button"
                      icon="fab fa-facebook-f"
                      class="p-button-rounded p-button-text"></button>

              <button pButton
                      pRipple
                      type="button"
                      icon="fab fa-instagram"
                      class="p-button-rounded p-button-text"></button>

            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>