.header {
  .navbar {
    height: 75px;
    // width: 100%;
    // background-color: #fff;
    // &.navbar-light {
    //     background-color: ;
    // }

    .navbar-container {
      max-width: 1200px;

      .navbar-collapse:not(.show) {
        background-color: white;
        .navbar-nav {
          margin-left: auto;
          padding-right: 50px;

          .nav-item {
            &:not(:last-child) {
              padding-right: 20px;
            }

            .nav-link {
              font-size: 1.1rem;
              color: #ecb100;
            }

            transition: transform .5s;


            &:hover {
              transform: scale(1.5);

            }
          }
        }

      }
    }

    .navbar-brand {
      color: #ecb100;
      font-size: 1.5rem;
    }

    .social-media {

      &>button {
        transition: transform .5s;

        &:hover {
          transform: scale(1.5);
        }
      }

      ::ng-deep .p-button-icon {
        font-size: 1.1rem;
      }
    }
  }
}

.best {
  height: 200px;
  width: 100%;

  .img2 {
    cursor: pointer;
    height: inherit;
    background-image: url("../../../assets/best.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
