:host ::ng-deep {
  .p-listbox {
    background: inherit;
    border: unset;

    .p-listbox-header {
      background: inherit;
      border-bottom: unset;
    }

    .p-listbox-list {
      padding: 0;
    }

    .p-listbox-list-wrapper {
      border: 1px solid #ccc;
    }

    .p-listbox-item {
      background-color: #fff !important;
    }
  }

  .submit .p-button {
    width: 100%;
    height: 40px;
    background-color: #ecb100;
    border: 1px solid #ecb100;
    margin-top: 25px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border-radius: 50px;
    margin-bottom: 7px;

    .p-button-label {
      color: #fff !important;
    }

    .p-button-icon {
      margin-right: 1rem;
    }
  }



}
