@import '../../../../../../styles/components/variables';
:host ::ng-deep {
  .p-listbox {
    background: inherit;
    border: unset;

    .p-listbox-header {
      background: inherit;
      border-bottom: unset;
    }

    .p-listbox-list {
      padding: 0;
    }

    .p-listbox-list-wrapper {
      border: 1px solid #ccc;
    }

    .p-listbox-item {
      background-color: #fff !important;
    }
  }

  .submit .p-button {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;

    .p-button-label {
      color: #fff !important;
    }

    .p-button-icon {
      margin-right: 1rem;
    }

    &:focus {
      box-shadow: unset;
    }
  }



}
