<div class="container">
    <form [formGroup]="form"
          (ngSubmit)="submit()">
        <div class="row">
            <div class="col-12">
                <p-listbox [options]="scheduleOptions"
                           [metaKeySelection]="false"
                           [checkbox]="true"
                           [filter]="true"
                           formControlName="schedule"
                           [multiple]="true"
                           [listStyle]="{'max-height':'250px'}">
                    <ng-template pTemplate="header">
                        <label>Selecteaza data: </label>
                        <p-calendar id="appointmentDate"
                                    formControlName="date"
                                    dateFormat="dd-mm-yy"
                                    inputId="touchui"
                                    [showIcon]="true"
                                    [ngClass]="{'ng-dirty': (date?.invalid) || (date?.dirty && date?.invalid)}"
                                    class="mx-4"
                                    [minDate]="minDate"
                                    [maxDate]="maxDate"></p-calendar>

                    </ng-template>
                    <ng-template let-group
                                 pTemplate="group">
                        <div class="flex align-items-center">
                            <span>{{group.label}}</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-end">
                                <p-button label="Salveaza programul"
                                          type="submit"></p-button>
                            </div>

                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>

    </form>
</div>