@import '../../../../../styles/components/variables';
:host::ng-deep {
  margin-top: 75px;
  position: relative;

  .img {
    height: 700px;
    border: 3px groove $primaryColor;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    img {
      height: 700px;
      width: 100%;
    }
  }

  .my-badge {
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    bottom: 0;
    left: -10px;

    .p-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      font-size: 27px;
      background: $branded-black;
      //   color: $primaryColor;
      color: #fff;
      opacity: .9;
      padding: 2rem;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &::before {
      content: '';
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid $branded-black;
      position: absolute;
      top: -10px;
      opacity: .9;
    }
  }
}
