<div class="row h-100">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="title">{{details.title}}
        </div>
    </div>
    
    <div class="col-12">
        <div class="description">{{details.description}}
        </div>
    </div>

    <div class="col-12 appointment">
        <div class="row h-100 align-items-center ">
                <button pButton
                        class="appointment-btn"
                        label="Programeaza-te acum"
                        (click)="goToAppointment()"></button>
        </div>
    </div>
</div>
