<div class="row h-100">
    <div class="col-12">
        <div class="title">TRATAMENT FACIAL CU MASCA DIN AUR COLOIDAL SI COENZIMA Q10
        </div>
    </div>
    <div class="col-12">
        <div class="description">Aurul, metal pretios, este folosit in numeroase culturi, in ritualurile de
            infrumusetare.
            Considerata tratament japonez demn de o regina, masca cu aur, cu pulbere de 24 de carate se numara printre
            preferatele vedetelor din Beverly Hills. Ideea nu este chiar noua, aurul fiind folosit inca din Antichitate
            in
            procesele de infrumusetare. Cleopatra, regina Egiptului, obisnuia sa se culce in fiecare noapte cu o masca
            de
            aur pe fata. Nano – particulele de aur prezente in produsele cosmetice au proprietatea de bune conductoare a
            componentelor active, a ingredientilor, avand calitatea de a se lega de straturile cat mai adanci ale
            pielii.
        </div>
    </div>
    <div class="col-12 appointment">
        <div class="row h-100 align-items-center ">
                <div class="price">Pret 250,00 lei (cu TVA)</div>
                <button pButton
                        class="appointment-btn"
                        label="Programeaza-te"></button>
        </div>
    </div>
</div>