
$branded-orange: #f7b731;
$branded-orange2: #ff9f1a;
$branded-orange2-light: #ffaa33;
$branded-orange2-lighter: #ffb54d;
$branded-orange-3: #ffaf40;
$branded-red: #ff3838; 
$branded-red2: #eb3b5a;

$primaryColor: #f7b731;
