<div class="container">
    <div class="border">
        <div class="row justify-content-center align-items-center title">Tarife</div>
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">Terapie corporală</p>
                    <p class="sub-txt">Reduce tensiunea musculară, îmbunătățește aspectul pielii, combate simptomele
                        depresiei și anxietății, crește puterea de concentrare</p>
                </div>
            </div>
            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        60 / 90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    110 / 150 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">Masaj terapeutic</p>
                    <p class="sub-txt">Reducerea durerii musculare, refacere parțială a mobilității corpului, combaterea
                        migrenelor</p>
                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        60 / 90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    110 / 150 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">Masaj anticelulitic</p>
                    <p class="sub-txt">Tonifiere musculară, îmbunătațește circulația sanguină, ajută la eliminarea
                        toxinelor dintre țesuturi</p>
                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        60 / 90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    110 / 150 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">Drenaj limfatic parțial</p>
                    <p class="sub-txt">Intărește sistemul imunitar, reduce senzația de picioare grele, contribuie la
                        reducerea celulitei, îmbunătățește fermitatea pielii</p>
                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        60 / 90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    110 / 150 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">Drenaj limfatic parțial + anticelulitic</p>
                    <p class="sub-txt">Stimulează circulația și sistemul limfatic, reduce aspectul de coajă de
                        portocală, îmbunătățește aspectul pielii</p>
                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    150 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">Masaj facial + capilar</p>
                    <p class="sub-txt">Conferă elasticitate și luminozitate pielii, având efect hidratant și
                        anti-îmbătrânire; stimulează creșterea părului, relaxare capilară</p>
                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        35
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    60 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">Masaj pe scaun</p>
                    <p class="sub-txt">Detensionarea musculaturii, intensificarea circulației sanguine</p>
                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        20
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    40 Lei
                </span>
            </div>
        </div>
        <hr />

        <div class="row justify-content-center align-items-center title">Abonamente</div>
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">4 X Ședințe de masaj</p>
                    <p class="sub-txt">Valabilitatea abonamentului este de maxim 1 luni din momentul achitarii</p>

                </div>
            </div>
            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end">
                    <span class="col-auto px-0">
                        60 / 90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    400 Lei / 60 / 900 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">10 X Ședințe de masaj</p>
                    <p class="sub-txt">Valabilitatea abonamentului este de maxim 3 luni din momentul achitarii</p>

                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class="col-auto px-0">
                        60 / 90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    1000 Lei / 1400 Lei
                </span>
            </div>
        </div>
        <hr />
        <div class="row justify-content-between align-items-start item">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img class="img"
                     src="../../../../assets/price-image.jpg"
                     alt="Special Yummy Pizza">
                <div class="text-md">
                    <p class="txt font-semibold">20 X Ședințe de masaj</p>
                    <p class="sub-txt">Valabilitatea abonamentului este de maxim 3 luni din momentul achitarii</p>

                </div>
            </div>

            <div class="info mt-3 col-sm-12 col-md-6 row justify-content-end">
                <span class="time col-sm-12 col-md-6 row align-items-center justify-content-end ">
                    <span class=" col-auto px-0">
                        60 / 90
                    </span>
                    <i class="icon far fa-clock col-auto "></i>
                </span>
                <span class="price price-xl row justify-content-end align-items-center">
                    1900 Lei / 2700 Lei
                </span>
            </div>
        </div>
    </div>
</div>