<div class="login">
    <div class="container row">
        <div class="parentlogin col-md-12 col-lg-6">
            <form [formGroup]="form"
                  (ngSubmit)="login()">
                <div class="title">
                    <h1>Intra in cont</h1>
                </div>
                <span class="p-float-label">
                    <input type="text"
                           id="inputtext"
                           pInputText
                           maxlength="100"
                           formControlName="email"
                           autocomplete="off">
                    <label class="label"
                           for="email">Email</label>
                </span>
                <small id="email-required"
                       *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched"
                       class="p-error block">Te rugăm să-ți introduci adresa de e-mail</small>
                <small id="email-wrong"
                       *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
                       class="p-error block">Adresa de email nu este valida</small>

                <span class="p-float-label mt-4">
                    <input type="password"
                           autocomplete="off"
                           pInputText
                           maxlength="100"
                           formControlName="password">
                    <label class="label"
                           for="password">Parola</label>
                </span>
                <small id="password-required"
                       *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
                       class="p-error block"> Te rugăm să-ți introduci parola
                </small>
                <button pButton
                        type="submit"
                        class="hover hover-1"
                        label="Autentificare"> </button>
                <div class="extra">
                    <div class="checkbox">
                        <label>
                            <p-checkbox formControlName="checked"
                                        [binary]="true"
                                        inputId="binary"></p-checkbox>Tine-ma minte
                        </label>

                    </div>
                    <div class="forget">
                        <a href="#">Recuperare parola</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="parentdesc col-md-12 col-lg-6">
            <div class="description">
                <h2>Bun venit la Terapie si Masaj</h2>
                <p>Nu ai cont?</p>
                <a [routerLink]="['/auth/register']">Inregistreza-te acum</a>
            </div>
        </div>
    </div>

</div>