<div id="carousel"
     class="carousel">

    <div id='iten_1'
         class="hideLeft">
        <img src="../../../../assets/masaj_reflexogen.png">
    </div>

    <div id='item_2'
         class="prevLeftSecond">
        <img src="../../../../assets/anticelulitic.png">
    </div>

    <div id='item_3'
         class="prev">
        <img src="../../../../assets/masaj_terapeutic.png">
    </div>

    <div id='item_4'
         class="selected">
        <img src="../../../../assets/tehnician_maseur.png">
    </div>

    <div id='item_5'
         class="next">
        <img src="../../../../assets/anticelulitic.png">
    </div>

    <div id='item_6'
         class="nextRightSecond">
        <img src="../../../../assets/masaj_somatic.png">
    </div>

</div>