<div class="banner">
    <div class="img"></div>
    <div class="centered">
        <p class="h1">Terapie si Masaj</p>
        <p class="h2">Take care of your body it's the only place you have</p>
    </div>
</div>
<div class="main container my-5">
    <div class="store-items row justify-content-between">
        <div class="store-item col-6">
            <p-card [style]="{width: '100%'}" styleClass="p-card-custom">
                <ng-template pTemplate="header">
                    <div class="img-container position-relative">
                        <img alt="Card" src="../../../assets/best.jpg" height="350">
                        <a class="appointment" routerLink="/programare">Programeaza-te acum</a>
                    </div>
                    <p class="card-title">Super oferta</p>
                    <p class="card-subtitle">Oferta valabila in perioada 23.11.2022 - 30.11.2022</p>
                </ng-template>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <button pButton type="button" class="p-button-raised p-button-info">Afla mai multe</button>
                </div>
            </p-card>
        </div>

        <div class="store-item col-6">
            <p-card [style]="{width: '100%'}" styleClass="p-card-custom">
                <ng-template pTemplate="header">
                    <div class="img-container position-relative">
                        <img alt="Card" src="../../../assets/background2.jpg" height="350">
                        <a class="appointment" routerLink="/programare">Programeaza-te acum</a>
                    </div>
                    <p class="card-title">Masaj 60 de minute</p>
                </ng-template>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <button pButton type="button" class="p-button-raised p-button-info">Afla mai multe</button>
                </div>
            </p-card>
        </div>

        <div class="store-item col-6 pt-3">
            <p-card [style]="{width: '100%'}" styleClass="p-card-custom">
                <ng-template pTemplate="header">
                    <div class="img-container position-relative">
                        <img alt="Card" src="../../../assets/background3.jpg" height="350">
                        <a class="appointment" routerLink="/programare">Programeaza-te acum</a>
                    </div>
                    <p class="card-title">Masaj 90 de minute</p>
                    <p class="card-subtitle">Oferta valabila in perioada 23.11.2022 - 30.11.2022</p>
                </ng-template>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <button pButton type="button" class="p-button-raised p-button-info">Afla mai multe</button>
                </div>
            </p-card>
        </div>
    </div>
</div>