.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-image: url("../../../assets/background4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 10%, 0.6);
    mix-blend-mode: multiply;
  }

  .container {
    z-index: 2;
  }

  ::ng-deep .booking-container {

    max-width: 500px;
    min-height: 500px;
    background: hsla(48, 100%, 67%, .4);
    padding: 50px 40px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

    .p-dropdown {
      min-width: 100%;
      min-height: 50px;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

      .p-dropdown-label {
        color: #0a3d62;
        font-size: 1.5rem;
      }
    }

    .p-button-label {
      font-size: 1.5rem;
      color: #0a3d62;
    }

    .sub-title {
      font-size: 1.3rem;
      color: #feca57;
      font-weight: 600;
      // text-transform: uppercase;
      letter-spacing: .05rem;
      font-family: Goudy Old Style, serif;
    }

    .title {
      color: #feca57;
      font-weight: 600;
      // text-transform: uppercase;
      letter-spacing: .05rem;
      font-family: Goudy Old Style, serif;
      // Andale Mono	Gabriola Goudy Old Style

      font-size: 2.275rem;
      line-height: 2.375rem;
      padding-bottom: 20px;
      // #00d2d3 #feca57 #fbc531 #A3CB38 #78e08f #12CBC4
    }
  }
}

.container-fluid {
  max-width: 1200px;
  padding-top: 75px;
  padding-bottom: 75px;

  &:last-of-type {
    padding-bottom: 150px !important;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #ecb100;
  }

  .heading {
    font-size: 44px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: -1px;
    color: #ecb100;
    text-align: center;
  }

  .sub-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    p {
      text-transform: none;
      font-weight: 400;
      color: #ecb100;
      text-align: center;
      line-height: 1.8;
      letter-spacing: 1px;
    }
  }
}



.col-auto {
  flex: 1;
}

::ng-deep .massage-cards-container {
  .my-badge {
    .p-badge {
      color: #fff !important;
    }
  }
}


@media (max-width: 1200px) {
  .cards-container {
    min-height: 1100px;
    flex-direction: column;
    align-items: center;
  }
}


.info {
  margin-top: 100px; 
  height: 350px;
  // background-color: hsla(0, 0%, 10%, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  .container-fluid {
    padding: 0 !important;
  }

  .info-page {
     padding: 105px 0;

     .info-details {
      flex: 0;
      min-width: 300px;
      min-height: 140px;
      padding-top: 15px;
     }

    .icon {
      font-size: 3.5rem;
      color: #ecb100;
      flex: 0;
    }

    .info-title {
    //  font-family: Marcellus !important;
      color: #ffffff !important;
      font-size: 2rem !important;
      font-weight: 400 !important;
      margin-bottom: 19px !important;

    }
    
    .info-subtitle {
    //  font-family: Lato !important;
      color: #ffffff !important;
      font-size: 1.1rem !important;
      font-weight: 400 !important;
      line-height: 24.252px !important;
      margin: 0 !important;
    }
  }

}


@media (max-width: 768px) {

    .info {
      height: 600px;
      .container-fluid {
        padding: 50px 0 !important;
   
      .info-page {
       flex-direction: column;
       justify-content: space-evenly !important;
       padding: 0 !important;

      }
   
     }
  }
 
  
}
