.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-image: url("../../../assets/background4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 10%, 0.6);
    mix-blend-mode: multiply;
  }

  .container {
    z-index: 2;
  }

  ::ng-deep .booking-container {

    max-width: 500px;
    min-height: 500px;
    background: hsla(48, 100%, 67%, .4);
    padding: 50px 40px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

    .p-dropdown {
      min-width: 100%;
      min-height: 50px;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

      .p-dropdown-label {
        color: #0a3d62;
        font-size: 1.5rem;
      }
    }

    .p-button-label {
      font-size: 1.5rem;
      color: #0a3d62;
    }

    .sub-title {
      font-size: 1.3rem;
      color: #feca57;
      font-weight: 600;
      // text-transform: uppercase;
      letter-spacing: .05rem;
      font-family: Goudy Old Style, serif;
    }

    .title {
      color: #feca57;
      font-weight: 600;
      // text-transform: uppercase;
      letter-spacing: .05rem;
      font-family: Goudy Old Style, serif;
      // Andale Mono	Gabriola Goudy Old Style

      font-size: 2.275rem;
      line-height: 2.375rem;
      padding-bottom: 20px;
      // #00d2d3 #feca57 #fbc531 #A3CB38 #78e08f #12CBC4
    }
  }
}

.container-fluid {
  max-width: 1200px;
  padding-top: 75px;
  padding-bottom: 75px;

  &:last-of-type {
    padding-bottom: 150px !important;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #ecb100;
  }

  .heading {
    font-size: 44px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: -1px;
    color: #ecb100;
    text-align: center;
  }

  .sub-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    p {
      text-transform: none;
      font-weight: 400;
      color: #ecb100;
      text-align: center;
      line-height: 1.8;
      letter-spacing: 1px;
    }
  }
}



.col-auto {
  flex: 1;
}

::ng-deep .massage-cards-container {
  .my-badge {
    .p-badge {
      color: #fff !important;
    }
  }
}


.profile_container {
  border-radius: 16px;
  height: 500px;
  margin: 25px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(223, 228, 255, 0.3);
    filter: blur(2px);
  }

  .wraps {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;

    .profile_img_wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .profile_img {
      width: 40%;
      flex: 0 0 40%;
      height: calc(100% + 1px);
      position: absolute;
      top: 0px;
      left: 0px;
      clip-path: ellipse(100% 85% at 0% 50%);
      background: url(../../../assets/me.png) no-repeat top;
      background-size: auto 114%;
      background-position-x: center;
      background-color: rgba(223, 228, 255, 0.25);

      span {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(111.1deg,
            rgba(0, 40, 70, 1) -4.8%,
            #ecb100 82.7%,
            rgba(255, 175, 123, 1) 97.2%);
        opacity: 0.16;
      }
    }

    .profile_details {
      width: 60%;
      flex: 0 0 60%;
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      margin: auto;
      padding: 25px;
      height: fit-content;
      text-align: center;

      .username {
        font-size: 36px;
        font-weight: 500;
        margin: 0px;
        margin-bottom: 10px;
      }

      .user_info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .info {
          background-color: #333;
          padding: 0px 10px;
          height: 22px;
          line-height: 22px;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          border-radius: 3px;
          margin: auto 5px;
          color: white;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.3s linear;
          margin-bottom: 1rem;
          background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
          background-size: 200% auto;
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
          display: block;

          &:hover {
            background-position: right center;
          }
        }
      }

      .user_links {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: none;
        color: rgba(97, 186, 255, 1);
        text-align: center;
        line-height: 1.8;
        letter-spacing: 1px;

        .link_btn {
          transition: all 0.3s;
          text-decoration: none;
          background-color: #333;
          border-radius: 100px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto 10px;

          svg {
            width: 25px;
            height: 25px;

            &:not(.fill) {
              fill: none;
              stroke: white;
              stroke-width: 5px;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .cards-container {
    min-height: 1100px;
    flex-direction: column;
    align-items: center;
  }
}


.info {
  margin-top: 100px;
  height: 350px;
  // background-color: hsla(0, 0%, 10%, 0.6);
  background-color: rgba(0, 0, 0, 0.6);

  .container-fluid {
    padding: 0 !important;
  }

  .info-page {
    padding: 105px 0;

    .info-details {
      flex: 0;
      min-width: 300px;
      min-height: 140px;
      padding-top: 15px;
    }

    .icon {
      font-size: 3.5rem;
      color: #ecb100;
      flex: 0;
    }

    .info-title {
      //  font-family: Marcellus !important;
      color: #ffffff !important;
      font-size: 2rem !important;
      font-weight: 400 !important;
      margin-bottom: 19px !important;

    }

    .info-subtitle {
      //  font-family: Lato !important;
      color: #ffffff !important;
      font-size: 1.1rem !important;
      font-weight: 400 !important;
      line-height: 24.252px !important;
      margin: 0 !important;
    }
  }

}


@media (max-width: 768px) {

  .info {
    height: 600px;

    .container-fluid {
      padding: 50px 0 !important;

      .info-page {
        flex-direction: column;
        justify-content: space-evenly !important;
        padding: 0 !important;

      }

    }
  }
}


