@import '../../../styles/components/variables';

.banner {
  position: relative;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-image: url("../../../assets/background4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 10%, 0.6);
    mix-blend-mode: multiply;
  }

  .container {
    z-index: 2;
  }

  ::ng-deep .booking-container {

    max-width: 500px;
    min-height: 500px;
    background: hsla(48, 100%, 67%, .4);
    padding: 50px 40px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .p-dropdown {
      min-width: 100%;
      min-height: 50px;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
      border-radius: 0px;

      &:hover {
        border-color: unset;
      }
      .p-dropdown-label {
        color: #0a3d62;
        font-size: 1.5rem;
      }
    }


    .sub-title {
      font-size: 1.3rem;
      color: $primaryColor;
      font-weight: 600;
      // text-transform: uppercase;
      letter-spacing: .05rem;
    }

    .title {
      color: $primaryColor;
      font-weight: 600;
      // text-transform: uppercase;
      letter-spacing: .05rem;
      // Andale Mono	Gabriola Goudy Old Style

      font-size: 2rem;
      line-height: 2.375rem;
      padding-bottom: 20px;
      // #00d2d3 $primaryColor #fbc531 #A3CB38 #78e08f #12CBC4
    }
  }
}

.container-fluid {
  max-width: 1200px;
  padding-top: 75px;
  padding-bottom: 75px;

  &:last-of-type {
    padding-bottom: 150px !important;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $primaryColor;
  }

  .heading {
    font-size: 44px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: -1px;
    color: $primaryColor;
    text-align: center;
  }

  .sub-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 1.3rem;

    p {
      text-transform: none;
      font-weight: 400;
      color: $primaryColor;
      text-align: center;
      line-height: 1.8;
      letter-spacing: 1px;
    }
  }
}



.col-auto {
  flex: 1;
}

::ng-deep .massage-cards-container {
  .my-badge {
    .p-badge {
      color: #fff !important;
    }
  }
}



@media (max-width: 1200px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}


.info {
  margin-top: 100px;
  height: 350px;
  // background-color: hsla(0, 0%, 10%, 0.6);
  background-color: rgba(0, 0, 0, 0.6);

  .container-fluid {
    padding: 0 !important;
  }
}



