<div class="banner">
  <div class="overlay"></div>
  <div class="container"
       data-aos="fade-down"
       data-aos-duration="1500">
    <div class="row">
      <div class="col-12 ">
        <div class="booking-container row">
          <div class="sub-title">Momentul tău de relaxare e aici </div>
          <div class="title">Masajul dorit e la un pas distanță de casă ta!
          </div>
          <div class="col-12 p-0">
            <p-dropdown [options]="services"
                        [(ngModel)]="selectedService"
                        placeholder="Serviciul ales"></p-dropdown>
          </div>
          <div class="col-12 p-0">
            <p-dropdown [options]="counties"
                        [(ngModel)]="selectedCounty"
                        placeholder="Locația mea"></p-dropdown>
          </div>
          <button pButton
                  class="hover hover-1"
                  label="Programează-te acum"
                  (click)="goToAppointment()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info">
  <div class="container-fluid h-100">
    <div class="info-page h-100 row justify-content-center align-items-center">
      <div class="info-item col-sm-12 col-md-4 row justify-content-center flex-nowrap">
        <i class="icon far fa-clock col "></i>
        <div class="info-details col row justify-content-center">
          <h5 class="info-title">
            Program
          </h5>
          <p class="info-subtitle">
            Luni - Duminica
          </p>
          <p class="info-subtitle">
            8:00 - 23:00
          </p>
        </div>
      </div>

      <div class="info-item col-sm-12 col-md-4 row justify-content-center flex-nowrap">
        <i class="icon fas fa-map-marker-alt col"></i>
        <div class="info-details col row justify-content-center">
          <h5 class="info-title">
            Adresa
          </h5>
          <p class="info-subtitle">
            La locatia clientului
          </p>
          <p class="info-subtitle">
            Bucuresti, toate sectoarele
          </p>
          <p class="info-subtitle"></p>
        </div>
      </div>

      <!-- <div class="info-item col-sm-12 col-md-3 row justify-content-center flex-nowrap">
        <i class="icon col fas fa-mobile-alt"></i>
        <div class="info-details col row justify-content-center">
          <h5 class="info-title">
            Telefon
          </h5>
          <p class="info-subtitle">
            07236445484
          </p>
          <p class="info-subtitle"></p>
        </div>
      </div> -->

      <div class="info-item col-sm-12 col-md-4 row justify-content-center flex-nowrap">
        <i class="icon fas fa-money-bill-wave-alt col "></i>
        <div class="info-details col row justify-content-center">
          <h5 class="info-title">
            Plata
          </h5>
          <p class="info-subtitle">
            Cash / Transfer bancar
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid"
     class="container-fluid"
     data-aos="fade-down"
     data-aos-duration="1000"
     id="about-me"
     style="padding-top: 60px;">
  <div class="profile_container">
    <div class="wraps">
      <div class="profile_img_wrapper">
        <div class="profile_img">
          <span></span>
        </div>
      </div>
      <div class="profile_details">
        <h1 class="username">Ionuț Duță</h1>

        <div class="user_info">
          <span class="info">Tehnician Maseur</span>
          <span class="info">Masaj Terapeutic</span>
          <span class="info">Masaj Somatic</span>
          <span class="info">Drenaj Limfatic</span>
          <span class="info">Masaj Reflexogen</span>
          <span class="info">Masaj Anticelulitic</span>
        </div>

        <div class="user_links">
          Fiind kinetoterapeut de 4 ani, dețin cunoștințele anatomice necesare pentru cele mai bune rezultate ale
          masajului și recuperării pacienților. Tot ce fac, fac cu placere și îmi dau tot interesul pentru acel lucru.

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid"
     data-aos="fade-down"
     data-aos-duration="1000">
  <p class="heading"> Certificari
  </p>
  <div class="sub-heading">
    <p>
      Acestea au rolul de-a identifica anumite probleme, afecțiuni pe care corpul nostru le are și de remediere pe
      termen mediu și lung .
    </p>

  </div>
  <div class="row">
    <div class="col-12">


      <app-carousel></app-carousel>

    </div>
  </div>
</div>

<div class="container-fluid"
     data-aos="fade-down"
     data-aos-duration="1000"
     id="services"
     style="padding-top: 60px;">
  <p class="heading"> Serviciile noastre
  </p>
  <div class="sub-heading">
    <p>
      Masajul este o terapie care vă ajută să scăpați de: stres, oboseală,
      dureri musculare, senzația
      de picioare grele, celulită, vergeturi și aspect inestetic al pielii.
    </p>
  </div>
  <div class="row justify-content-between cards-container">
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-flip-card>
        <app-card frontCard
                  [src]="'../../../assets/masaj_1.jpg'"
                  [badge]="'60-90min'"
                  [title]="'Masaje de relaxare'"
                  (click)="scroll('massages')"></app-card>
        <app-card backCard
                  [description]="'Masajul este o terapie care vă ajută să scăpați
          de:stres,oboseală,dureri musculare, senzațiade picioare grele,
          celulită, vergeturi și aspect inestetic al pielii.'"
                  [title]="'Afla mai multe'">
        </app-card>
      </app-flip-card>
    </div>
    <!-- <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-flip-card>
        <app-card frontCard
                  [src]="'../../../assets/drenaj.jpg'"
                  [badge]="'60-90min'"
                  [title]="'Drenaj limfatic'"
                  (click)="scroll('drenaje')"></app-card>
        <app-card backCard
                  [description]="'Masajul este o terapie care vă ajută să scăpați
          de:stres,oboseală,dureri musculare, senzațiade picioare grele,
          celulită, vergeturi și aspect inestetic al pielii.'"
                  [title]="'Afla mai multe'">
        </app-card>
      </app-flip-card>
    </div> -->
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-flip-card>
        <app-card frontCard
                  [src]="'../../../assets/drenaj.jpg'"
                  [badge]="'60-90min'"
                  [title]="'Masaje de recuperare'"
                  (click)="scroll('recuperare')">
        </app-card>
        <app-card backCard
                  [description]="'Masajul este o terapie care vă ajută să scăpați
          de:stres,oboseală,dureri musculare, senzațiade picioare grele,
          celulită, vergeturi și aspect inestetic al pielii.'"
                  [title]="'Afla mai multe'">
        </app-card>
      </app-flip-card>
    </div>
  </div>
</div>
<div class="container-fluid"
     data-aos="fade-down"
     data-aos-duration="1000"
     id="massages">
  <p class="heading"> Masaje de relaxare
  </p>
  <div class="sub-heading">
    <p>
      Terapiile de relaxare sunt indicate pentru persoanele care se simt obosite și fără prea multă energie. Acestea vă
      ajută să scăpați de : stres, dureri de cap, dureri musculare, oboseală și vă conferă o stare generală bună.
    </p>
  </div>
  <div class="row justify-content-between massage-cards-container">
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/masaj_1.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Masaj de relaxare'"
                [routerLink]="'masaje/terapie-corporala'">
      </app-card>
    </div>
    <!-- <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/masaj_1.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Terapie corporala'"
                [routerLink]="'masaje/terapie-corporala'">
      </app-card>
    </div> -->
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/drenaj.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Masaj capilar'"
                [routerLink]="'masaje/masaj-facial'">
      </app-card>

    </div>
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/drenaj.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Masaj facial'"
                [routerLink]="'masaje/masaj-facial'">
      </app-card>

    </div>
    <!-- <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/drenaj.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Masaj pe scaun'">
      </app-card>
    </div> -->
  </div>
</div>
<div class="container-fluid"
     data-aos="fade-down"
     data-aos-duration="1000"
     id="recuperare">
  <p class="heading"> Masaje de recuperare
  </p>
  <div class="sub-heading">
    <p>
      Acestea au rolul de-a identifica anumite probleme, afecțiuni pe care corpul nostru le are și de remediere pe
      termen mediu și lung . Sunt terapii de durată, efectele deși se văd imediat, este nevoie de continuitate pentru
      obținerea rezultatului dorit. Pentru că întensitatea este destul de mare la Masajul terapeutic și la cel
      Anticelulitic ( se recomandă: baie caldă , lapte sau aspirină ) pentru a evita febra musculară.
      îmi ștergi: parțial ( rămâne doar drenaj limfatic ) și la masaj anticelulitic schimbi denumirea ( Fitness Masaj
      Anticelulitic )
    </p>
  </div>
  <div class="row justify-content-center massage-cards-container">
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/drenaj.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Masaj terapeutic'">
      </app-card>
    </div>
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/masaj_1.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Drenaj limfatic partial'">
      </app-card>
    </div>
    <div class="col-auto d-flex justify-content-center mb-5"
         data-aos="zoom-in"
         data-aos-duration="1000">
      <app-card [src]="'../../../assets/masaj_1.jpg'"
                [badge]="'110.00 lei'"
                [title]="'Masaj anticelulitic'">
      </app-card>
    </div>
  </div>
</div>

<div class="container-fluid"
     data-aos="fade-down"
     data-aos-duration="1000"
     id="reviews">
  <p class="heading"> Recenzii
  </p>
  <div class="sub-heading">
    <p>
      Nu ma crede pe cuvant. Vezi ce spune lumea despre mine, despre modul de lucru si despre calitatea servicilor mele
    </p>
  </div>
  <app-testimonials [open]="openReviews"></app-testimonials>
</div>