<footer>
  <div class="footer container-fluid">
    <div class="about-me col-5">
      <p class="navbar-brand"
        routerLink="/">Terapie și Masaj<sub class="subscript">by Ionuț Duță</sub></p>
      <div class="sub-heading"> <p>
          Masajul este o terapie care vă ajută să scăpați de: stres, oboseală,
          dureri musculare, senzația
          de picioare grele, celulită, vergeturi și aspect inestetic al pielii.
        </p>
      </div>
      <form class="d-flex social-media">
        <button pButton
                pRipple
                type="button"
                icon="fab fa-facebook-f"
                class="p-button-rounded p-button-text"></button>

        <button pButton
                pRipple
                type="button"
                icon="fab fa-instagram"
                class="p-button-rounded p-button-text"></button>

      </form>
    </div>
    <div class="info col-5">
      <!-- <div class="useful-info">
        <p class="title">Informatii utile</p>

      </div>
      <div class="contact-info">
        <p class="title">Date de contact</p>
      </div> -->
    </div>
  </div>
</footer>
