<footer>
  <div class="footer">
    <div class="about-me col">
      <p class="navbar-brand"
         routerLink="/">Terapie și Masaj<sub class="subscript">by Ionuț Duță</sub></p>
      <div class="sub-heading">
        <div class="useful-info">
          <div>Despre Noi</div>
          <div>Termeni si Conditii</div>
          <div>ANPC</div>
        </div>
        <div class="contact">
          <div>Telefon/WhatsApp: 0723978845</div>
          <div>Email: ionut.duta@gmail.com</div>
          <div class="d-flex justify-content-center social-media">
            <button pButton
                    pRipple
                    type="button"
                    icon="fab fa-facebook-f"
                    class="p-button-rounded p-button-text"></button>

            <button pButton
                    pRipple
                    type="button"
                    icon="fab fa-instagram"
                    class="p-button-rounded p-button-text"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>