<!-- <footer>
  <div class="footer">
    <div class="about-me col">
      <p class="navbar-brand"
         routerLink="/">Terapie și Masaj<sub class="subscript">by Ionuț Duță</sub></p>
      <div class="sub-heading">
        <div class="useful-info">
          <div>Despre Noi</div>
          <div>Termeni si Conditii</div>
          <div>ANPC</div>
        </div>
        <div class="contact">
          <div>Telefon/WhatsApp: 0723978845</div>
          <div>Email: ionut.duta@gmail.com</div>
          <div class="d-flex justify-content-center social-media">
            <button pButton
                    pRipple
                    type="button"
                    icon="fab fa-facebook-f"
                    class="p-button-rounded p-button-text"
                    (click)="goToFacebook()"></button>

            <button pButton
                    pRipple
                    type="button"
                    icon="fab fa-instagram"
                    class="p-button-rounded p-button-text"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<footer>
  <div class="footer">
    <div class="container d-flex justify-content-between align-items-center h-100">

      <p class="navbar-brand col-6 m-0"
         routerLink="/">Terapie și Masaj<sub class="subscript">by Ionuț Duță</sub></p>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <div class="d-flex justify-content-start social-media">
          <div class="d-flex align-items-center">0721325841</div>
          <button pButton
                  pRipple
                  type="button"
                  icon="pi pi-whatsapp"
                  class="p-button-rounded p-button-text"></button>
          <button pButton
                  pRipple
                  type="button"
                  icon="fab fa-facebook-f"
                  class="p-button-rounded p-button-text"
                  (click)="goToFacebook()"></button>

          <button pButton
                  pRipple
                  type="button"
                  icon="fab fa-instagram"
                  class="p-button-rounded p-button-text"></button>
        </div>
      </div>

    </div>

  </div>
</footer>