<div class="pd-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="slider"
                     class="owl-carousel product-slider">
                    <div class="item">
                        <img src="{{'../../../../../../../assets/' + massage?.imageUrl}}"
                             width="100%"
                             height="400px" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-dtl">
                    <div class="product-info">
                        <div class="product-name">{{massage?.title}}</div>
                        <div class="product-price-discount" *ngIf="massage"><span>{{massage | price:duration }} Lei</span>
                            <!-- <span class="line-through">$29.00</span> -->
                        </div>
                    </div>
                    <p>{{massage?.shortDescription }}</p>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mt-2">
                            <label>Durata</label>
                            <p-selectButton id="duration"
                                            styleClass="select-btn"
                                            [options]="durationOptions"
                                            [(ngModel)]="duration"
                                            optionLabel="label"
                                            optionValue="value"></p-selectButton>
                        </div>
                    </div>
                    <div class="product-count">
                        <button pButton
                                class="hover hover-1"
                                label="Programează-te acum"
                                (click)="goToAppointment()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-info-tabs">
            <app-massages-more-details [details]="massage"></app-massages-more-details>
        </div>
    </div>
</div>